/* Colors and Styles (Default) */
:root {
  --PrimaryColor: hsl(0, 100%, 60%);
  --SecondaryColor: hsl(210, 100%, 59%);
  --HoverCOlor: #f95454;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.25rem;
  --h2FontSize: 1rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}
.companiesListView {
  .addCompanyBtnSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .companiesListSection {
    .addCompanyBtnSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        decoration: none;
        color: inherit;
      }
    }
    .companiesList {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: 2rem;
    }

    .loadingSection {
      display: flex;
      justify-content: center;
      .empty {
        font-size: var(--h3FontSize);
        text-align: center;
        color: var(--textColor);
      }
      .errorIcon {
        font-size: var(--h3FontSize);
        text-align: center;
        color: red;
      }
      .emptyIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 200px;
        }
      }
    }
  }
}
