/* Colors and Styles (Default) */

:root {
  --PrimaryColor: hsl(0, 100%, 60%);
  --SecondaryColor: hsl(210, 100%, 59%);
  --HoverCOlor: #f95454;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.25rem;
  --h2FontSize: 1rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.alertHistoryItem {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 1.5rem;
  padding: 0.3rem 0.3rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  .companyLogo {
    img {
      height: 40px;
      width: 40px;
      border: 1px solid rgb(239, 239, 239);
      border-radius: 100px;
    }
  }
  .userInformation {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 50%;
    h3 {
      font-size: var(--h3FontSize);
      font-weight: 700;
    }
    p {
      font-size: var(--smallFontSize);
    }
  }
  .alertType{
    width: 10%;
    font-size: var(--h3FontSize);
  }
  .alertStatus{
    width: 10%;
    font-size: var(--h3FontSize);
  }
  .time {
    width: 10%;
    h3 {
      font-size: var(--h3FontSize);
      font-weight: 700;
    }
    p {
      font-size: var(--smallFontSize);
    }
  }
  svg{
    width: 5%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
